<a href="https://colab.research.google.com/github/arya3112/INFINITY/blob/main/heart_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv(r"/content/heart.csv")

In [ ]:
print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [ ]:
df.shape

(303, 14)

In [ ]:
df.size

4242

In [ ]:
df.isnull().sum()#finding missing value

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
df.dtypes#datatype of each object

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
df.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data_zero=(df==0).sum()

In [ ]:
print(data_zero)

age           0
sex          96
cp          143
trestbps      0
chol          0
fbs         258
restecg     147
thalach       0
exang       204
oldpeak      99
slope        21
ca          175
thal          2
target      138
dtype: int64

In [ ]:
df['age'].mean()

54.366336633663366

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x=df[['age', 'sex',  'restecg', 'chol']]

In [ ]:
y=df['target']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,random_state=0)

In [ ]:
print(x_train)

     age  sex  restecg  chol
173   58    1        0   224
261   52    1        1   230
37    54    1        0   232
101   59    1        0   270
166   67    1        0   229
..   ...  ...      ...   ...
251   43    1        0   247
192   54    1        1   188
117   56    1        0   193
47    47    1        0   257
172   58    1        0   284

[227 rows x 4 columns]

In [ ]:
print(x_test)

     age  sex  restecg  chol
225   70    1        1   174
152   64    1        0   227
228   59    1        0   288
201   60    1        0   258
52    62    1        1   231
..   ...  ...      ...   ...
46    44    1        0   235
160   56    1        1   240
232   55    1        0   289
181   65    0        0   225
27    51    1        1   175

[76 rows x 4 columns]

In [ ]:
print(y_test)

225    0
152    1
228    0
201    0
52     1
      ..
46     1
160    1
232    0
181    0
27     1
Name: target, Length: 76, dtype: int64

In [ ]:
print(y_train)

173    0
261    0
37     1
101    1
166    0
      ..
251    0
192    0
117    1
47     1
172    0
Name: target, Length: 227, dtype: int64