<a href="https://colab.research.google.com/github/arya3112/INFINITY/blob/main/PRACTICA_1_HEART_DISEASE_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #importing pandas library

In [ ]:
df = pd.read_csv('/heart.csv')#reading from csv file

In [ ]:
print(df)#printing dataset

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [ ]:
df.shape#returns total number of elements in thst object

(303, 14)

In [ ]:
df["age"].mean()#gives average
df.isnull()#returns boolean values to tell weather data is null or not
df_new=df.dropna()#drops null values
print(df_new)#print new values
(df["sex"].values==0).sum()#gives sum of genders represented by 0 in dataset
df.dtypes#gives datatype

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
#splitting training and testing data set
from sklearn.model_selection import train_test_split
x=df[['age','sex']]
y=df[['target']]
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.25,random_state=1)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

     age  sex
170   56    1
192   54    1
168   63    1
42    45    1
90    48    1
..   ...  ...
203   68    1
255   45    1
72    29    1
235   51    1
37    54    1

[227 rows x 2 columns]
     age  sex
204   62    0
159   56    1
219   48    1
174   60    1
184   50    1
..   ...  ...
131   49    0
234   70    1
107   45    0
285   46    1
17    66    0

[76 rows x 2 columns]
     target
170       0
192       0
168       0
42        1
90        1
..      ...
203       0
255       0
72        1
235       0
37        1

[227 rows x 1 columns]
     target
204       0
159       1
219       0
174       0
184       0
..      ...
131       1
234       0
107       1
285       0
17        1

[76 rows x 1 columns]